/**
 * Copyright 2023 LINE Corporation
 *
 * LINE Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.chips {
  min-width: 9.5rem;
  padding-left: 1.5rem;

  @include mobile {
    @include scroll(horizontal);

    padding-right: 1.5rem;
  }

  > li {
    @include pressed;

    + li {
      margin-top: 0.5rem;

      @include mobile {
        margin-top: 0;
        margin-left: 0.25rem;
      }
    }
  }

  button {
    @include font("12", "label-primary");

    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0 0.75rem;
    text-transform: capitalize;
    border: 0.5px solid transparent;
    border-radius: 0.5rem;

    &:disabled {
      color: var(--label-secondary);
    }

    &:not(:disabled) {
      &.selected,
      &:hover {
        font-weight: bold;
        background-color: var(--fill-quaternary);
        border-color: var(--fill-quaternary);
      }
    }

    :global {
      .material-symbols-outlined {
        margin-left: 0.25rem;
        color: var(--red-primary);
        font-size: 1rem;
        font-variation-settings:
          "FILL" 1,
          "wght" 400,
          "GRAD" 0,
          "opsz" 24;
      }
    }
  }
}
