.tooltip {
  @include font("16");

  z-index: 9;
  position: absolute;
  top: -4.5rem;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #3f0;
  color: #000;
  white-space: nowrap;

  :global {
    .material-symbols-outlined {
      font-size: 1.25rem;
      margin-right: 0.25rem;
    }
  }

  &::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    transform: translate(0, 100%);
    border-right: solid 0.3rem transparent;
    border-left: solid 0.3rem transparent;
    border-top: solid 0.3rem #3f0;
  }
}
